<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainTest">

    <test name="MainTest" parallel="false">
        <classes>
            <class name="SauceDemoTest">
                <methods>
                    <include name="loginTest"/>
                    <include name="addItemToCart"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>